= simple_form_for product do |f|
  = f.input :title, label: false, placeholder: "Title"
  = f.input :description, label: false, placeholder: "Description"
  = f.input :url, label: false, placeholder: "Url"
  = f.input :price, label: false, placeholder: "Price"
  = f.button :submit, "Create new product"
