!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "My Video Store"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track": true
    = csrf_meta_tag
  %body{class: page_class}
    = render "layouts/shared/nav_bar"
    .row
      .large-8.columns
        = yield
      .large-4.columns
        #cart
          = render @cart
